

/*----------------COMMON------------------*/

* {
padding : 0;
margin : 0;
}
html, body, #content, #sidebar-left, #sidebar-right {
height : 100%;
}
body {
background : #fff;
color : #000;
font : 12px Arial, Tahoma, Helvetica, Verdana;
}
a {
color : blue;
font : 12px Arial, Tahoma, Helvetica, Verdana;
text-decoration : underline;
}
a:hover {
text-decoration : none;
}
#wrap {
position : relative;
min-height : 100%;
height : auto !important ;
height : 100%;
width : 1024px;
margin : 0 auto;
}

* html #wrap {
height : 100%;
}

p {
text-align : center;
}

#header, #footer, #sidebar-left, #sidebar-right, #content {
padding : 0 0;
}

#header {
/*height : 301px; 352px*/
height : 352px;
padding : 0 0;
background : url('headerbackground.gif') repeat-x;
}

#sidebar-left {
clear: both;
float : left;
}

#sidebar-right {
float : right;
}

#sidebar-left, #sidebar-right {
min-height : 100%;
width : 200px;
}

#content {
margin : 60px 200px 0 200px;
}

#footer {
clear:both;
background : url('footerbackground.gif') repeat-x;
position : relative;
bottom : 0px;
height : 100px;
width : 1024px;
margin : 0 0;
}

/*------------------MENU-------------------*/
#menuleft_bg {
/*padding: 50px 0 0 30px;*/
position: relative;
top:-17px;
padding: 0px 0 0 30px;
margin:0px;}

#menuleft_bg #topelement {
height: 42px;
width: 139px;
background: url("menuleft_bg_top.jpg") no-repeat;
}

#menuleft_bg #midelement {
height:220px;
width: 139px;
background: url("menuleft_bg_mid.jpg") repeat-y;
}

#menuleft_bg #bottelement {
height:29px;
width: 139px;
background: url("menuleft_bg_bott.jpg") no-repeat;
}

#menuleft {
position: absolute;
top: 390px;
left:43px;
width:112px;
font-size: 13px;
line-height: 31px;
color:white;
overflow:hidden;
}

#menuleft li {
border-bottom: 2px solid white;
text-align:center;
font: bold;
}

#menuleft #last {
border-bottom: none;
}

#menuleft li a {
text-decoration:none;
color:white;
font-weight:bold;
}

/*------------------BLOCKLEFT-------------------*/
#blockleft_bg {
padding:0 0 0 30px;
margin:0px;}

#blockleft_bg #topelement {
height: 42px;
width: 139px;
background: url("blockleft_bg_top.jpg") no-repeat;
}

#blockleft_bg #midelement {
height:220px;
width: 139px;
background: url("blockleft_bg_mid.jpg") repeat-y;
}

#blockleft_bg #bottelement {
height:29px;
width: 139px;
background: url("blockleft_bg_bott.jpg") no-repeat;
}

#space {
height:10px;
width:139px;
}

#managers {
position: relative;
top: -235px;
left: 50px;
color: #0a2d3a;
}

#managers #title {
position: relative;
top:-10px;
font-weight: bold;
}

#managers .manager {
padding: 10px 0;

}
/*------------------BLOCKRIGHT-------------------*/
#blockright_bg{
padding: 0px 30px 0 30px;
margin:0px;}

#blockright_bg #topelement {

height: 27px;
width: 139px;
background: url("blockright_bg_top.jpg") no-repeat;
}

#blockright_bg #midelement {
	height:114px;
	width: 139px;
	background: url("blockright_bg_mid.jpg") repeat-y;
}

#blockright_bg #bottelement {
height:30px;
width: 139px;
background: url("blockright_bg_bott.jpg") no-repeat;
}
#login_form
  {
  position:relative;
  top: -155px;
  left: 40px;
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  padding: 10px;
  width:100px;
  }
  #login_form input, #login_form textarea
  {
    font-family: Arial, Sans-Serif;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  padding: 4px;
  width: 90px;
  }
 .activeField
  {
  background-color: #ffffff;
  border: solid 1px #33677F;
  }
  .idle
  {
  border: solid 1px #85b1de;
  background-color:#ffffff;
  }
.label {
  color:white;
  }

/*--------------------HEADER-----------------------*/
#headerleft {
position: absolute;
top: 0px;
left: 40px;
float: left;
width:678px;
height: 285px;
background: url("headerleft.jpg") no-repeat;
}

#girl1 {
width:286px;
height: 285px;
position: absolute;
top: 0px;
right: 20px;
float: right;
background: url("girl1.jpg") no-repeat;
}

/*------------HEADERBOTTOM----------------------*/
#palmshadow {
width:164px;
height: 40px;
position: absolute;
top: 284px;
left: 40px;
background: url("palmshadow.jpg");
}

#menucorner {
width:48px;
height: 40px;
position: absolute;
top: 284px;
left: 204px;
background: url("menucorner.jpg") no-repeat;
}

#menutop_bg {
width: 511px;
height: 40px;
position: absolute;
top: 284px;
left: 252px;
background: url("menu.jpg") repeat-y;
}

#girl2 {
height: 40px;
width: 241px;
position: absolute;
top: 284px;
left: 763px;
background: url("girl2.jpg");
}

#whiteblock {
height: 28px;
width:709px;
position: absolute;
top: 324px;
left: 0px;
background-color:white;
}

#girl3 {
z-index: 300;
height: 28px;
width:294px;
position: absolute;
top: 324px;
left: 711px;
background: url("girl3.jpg") no-repeat;
}

#menutop {

position: absolute;
top: 285px;
left: 220px;
height:30px;
width:550px;
color: white;
display:table;
}
.menutopcell {

height: 30px;
width: 89px;
float:left;
display:table-cell;
position: relative;
vertical-align:middle;
text-align:center;
border-right: 2px white solid;

}

#menutop li {
height: 30px;
width: 89px;
display:table-cell;
vertical-align:middle;
}
#menutop li a {

vertical-align:middle;
text-decoration: none;
color: white;
font-weight:bold;
}
#menutop #last  {
border:none;
}
/*

.menuitem {

display:table-cell;
vertical-align:middle;
}
*/
/*------------FOOTER----------------------*/
#partner1{
height:48px;
width:160px;
position:absolute;
bottom:21px;
left:180px;
background: url('partner1.png');
}


#partner2{
height:50px;
width:47px;
position:absolute;
bottom:21px;
left:380px;
background: url('partner2.png');
}
#partner3{
height:47px;
width:134px;
position:absolute;
bottom:21px;
left:470px;
background: url('partner3.png');
}
#partner4{
height:47px;
width:109px;
position:absolute;
bottom:21px;
left:640px;
background: url('partner4.png');
}
#palm_bott{
height:141px;
width:223px;
position:absolute;
bottom:10px;
left:770px;
background: url('palm_bott.png');
}
